/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/keys/
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/data/
/bin/doctrine
/bin/doctrine.php
.buildpath
.settings
.project
.teeproject