parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     username
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    oauth_params:
        client_id:        ## web app client id
        client_secret:    ## web app client secret
        redirect_uri:     ## callback url after oauth login e.g., https://emailapps.sas.upenn.edu/dev/penn-gmail/app_dev.php/admin/token/oauth2callback

        refresh_token_file:   ## path to refresh token file
        access_token_file:    ## path to access token cache file

        scopes:           
            -                 https://www.googleapis.com/auth/admin.directory.orgunit
            -                 https://www.googleapis.com/auth/admin.directory.user
    
    ## Google domain parameters 
    google_params:
        domain:           ## domain for gmail email
        relay_domain:     ## domain for relaying google destined email
        app_account:      ## known account in domain so we can query customer id
        hash_salt:        ## salt string for creating penn_id hash values
        account_creation: on    ## set to on/yes/true to allow new accounts to be setup, off/no/false to restrict
        report_errors_to: ## email(s) to send error reports if user exception occurs (optional)

    ## admin users are defined here
    admin_users:
        ROLE_TOKEN_ADMIN: [ ## pennkeys of users who may manage the oauth token ## ]
        ROLE_LOG_ADMIN:   [ ## pennkeys of users who may view the account log   ## ]
        
    ## define parameters for connecting to PennGroups web/ldap service ##
    penngroups:
        username:       "kerberos principle"
        credential:     "%kernel.root_dir%/config/keys/penngroups/encrypted.txt"
        key:            "%kernel.root_dir%/config/keys/penngroups/private.pem"
        cache_timeout:  600  ## required, must be integer

    ## set keys for encrypted storage ##
    file_storage:
        keys:
            public:     "%kernel.root_dir%/config/keys/public.pem"
            private:    "%kernel.root_dir%/config/keys/private.pem"        

    ## define parameters for mail forwarding ##
    mail_forwarding:
        data_file:      /www/apps/dev/forwards/var/data
        max_forwards:   3

        ## prevent users from forwarding to accounts in these domains to prevent mail loops
        equivalent_domains:
            -   upenn.edu
            -   sas.upenn.edu
            -   same-as-sas.upenn.edu
