{% extends "MailForwardingBundle::base.html.twig" %}

{% block body %}

    <DIV id="main" style="width: 600px">
    
    <p>Sorry, an error occurred while checking your eligibility to use this service.</p>
    
    <p>You can report this problem by using the link below:</p>
    
    <ul>
      <li><a href="http://www.sas.upenn.edu/computing/help/students/forms/email">Email Help for SAS Students</a></li>
    </ul>
    
    </DIV>

{% endblock %}