<p class="body">Success! Your mail delivery options have been updated for 
<strong>{{ email }}</strong>.  Soon mail will be delivered as summarized
in the table below.  Please keep in mind that it will take up to 20
minutes for these delivery options to be applied on our servers. </p>
    
<p><strong>Mail delivery options:</strong></p>

<table cellpadding="5" cellspacing="0" width="500">
    <tr>
      <td align="right"><nobr>SAS address:</nobr></td>
      <td width="400" class="shaded"><strong>{{ email }}</strong></td>
    </tr>
	<tr>
	  <td align="right"><nobr>Option:</nobr></td>
	  <td class="shaded">
	      {% if forwardingType == 'gmail' %}
	          <p>Deliver mail to my Google@SAS account</p>
          {% elseif forwardingType == 'pennlive' %}
              <p>Deliver mail to my Penn Live account</p>
          {% elseif forwardingType == 'other' %}
	      	  <p>Deliver mail to:</p>
	      	  <ul>
	      	      {% for address in forwards %}
	      	          <li><strong>{{ address }}</strong></li>
      	          {% endfor %}
  	          </ul>
	      {% else %}
			  <p>Deliver mail to my existing mail.sas account</p>
		  {% endif %}
	  </td>
	</tr>
</table>

    