{% extends "GMailConfigureBundle::base.html.twig" %}

{% block body %}
    <DIV id="main" style="width: 600px">

    <p class="error">You are not eligible for a Google@SAS account.</p>
    
    <p>Our records show that you are not eligible for a Google@SAS account.  In order to setup a Google@SAS account, you need to be formally enrolled in an SAS academic program and have a valid PennKey.</p>
    
    <p>Email eligibility typically becomes effective 2-3 days after the enrollment process is complete and 1-2 days after registering your PennKey.</p>

	<p>You are probably receiving this message because your registration information simply hasn't made it to us yet.  You need to wait until your information has updated according to the schedule listed above.</p>

	<p>Please visit <a href="https://www.sas.upenn.edu/computing/forms/regerror.html">https://www.sas.upenn.edu/computing/forms/regerror.html</a> for additional information about how to address your questions about email eligibility.</p> 
	    
    </DIV>
    
    




    
{% endblock %}