{% extends "GMailConfigureBundle::base.html.twig" %}

{% block body %}
    <DIV id="main" style="width: 600px">

    <p class="error">You are not eligible for a Google@SAS account.</p>
    
    <p>Our records show that you are not eligible for a Google@SAS account. At this time, 
    only SAS students are eligible for Google@SAS accounts.</p>
    
    <p>If you have received this message and you are in one of the groups mentioned 
    above, please <a href="http://www.sas.upenn.edu/computing/help/faculty_staff/email/regerror_form">
    report the problem to us</a> so we can resolve the problem.</p>
    
    <p>Otherwise, please go to the <a href="http://www.sas.upenn.edu/computing/help/">SAS Computing Help pages</a> for assistance.</p>
    
    </DIV>
{% endblock %}