{% extends "GMailConfigureBundle::base.html.twig" %}

{% block body %}
    <DIV id="main" style="width: 600px">
    
    <p class="error">Google@SAS account creation unavailable</p>
    
    <p>New account creation for Google@SAS is temporarily unavailable. Please try again later.</p>
    
    </DIV>
{% endblock %}