<p class="alert">Please Note:</p>
<ul>
    <li>Your Google@SAS account password has been updated.</li>
</ul>

<p>When you are ready to login to Google@SAS, click below.</p>

<form method="post" action="https://accounts.google.com/ServiceLogin?service=mail&Email={{ pennEmail }}&continue=https://mail.google.com/mail/">
<input type="submit" value="Login to Google@SAS"/>
</form>
