{% extends "GMailConfigureBundle::base.html.twig" %}

{% block body %}
    <DIV id="main" style="width: 600px">

    <p class="error">Server Error</p>
    
    <p>An error has occurred on the server. Please <a href="http://www.sas.upenn.edu/computing/help/faculty_staff/email/regerror_form">
    report the problem to us</a> so we can resolve the problem.</p>
    
    </DIV>
{% endblock %}