body, table, td, th, .nsfix
   {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   }

big
   {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 15px;
   }

small
   {
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
   }

.submenu
   {
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #A0B7E0;
   }

.submenu a
   {
   color: #FFFFFF;
   }

.submenu a:hover
   {
   color: #A0B7E0;
   }

.sublink
   {
   color: #A0B7E0;
   text-decoration: none;
   }

.sidelight
   {
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #FFCC00;
   }

a.sublink:hover
   {
   color: #FFFFFF;
   text-decoration: underline;
   }

h2
   {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: #000000;
   }

h3
   {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: #990000;
   }

h4
   {
   font-family: Times New Roman, Times, serif;
   font-size: 14px;
   color: #000000;
   }

a:hover
   {
   text-decoration: underline;
   color: #990000;
   }

.black
   {
   color: #000000;
   }

.red
   {
   color: #990000;
   }

.white
   {
   color: #FFFFFF;
   }

.btn
   {
   background-color: #011F5B; 
   color: #FFFFFF; 
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
   }

.bigger
   {
   font-size: 15px;
   }

li
   {
   list-style-type: square;
   }



.searchbox
   {
   font-family: Tahoma, Arial, sans-serif; 
   font-size: 11px; 
   width: 87px;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   background-color: #E1E8F3;
   }

.widget
   {
   font-family: Tahoma, Arial, sans-serif; 
   font-size: 11px; 
   background-color: #E1E8F3;
   }

