{% extends "AssetsBundle::base.html.twig" %}

{% block page_title %}Google@SAS Account{% endblock %}
{% block page_header %}Google@SAS Account Site{% endblock %}

{% block school_logo %}
<a href="http://www.sas.upenn.edu/"><img src="{{ asset('bundles/assets/img/sas_logo_white.jpg') }}" width=175 height=55 border="0" alt="School of Arts and Sciences Home Page" /></a>
{% endblock %}

{% block nav_links %}
    <li class="navbar"><a href="http://www.upenn.edu/computing/pennkey/help/faq.html" class="navbar">Pennkey Information</a></li>
    <li class="navbar"><a href="http://www.sas.upenn.edu/computing/google@sas" class="navbar">Google@SAS FAQ</a></li>
    <li class="navbar"><a href="http://www.sas.upenn.edu/computing/help/students/forms/email" class="navbar">Request Help</a></li>
{% endblock %}